// ------ Cards ------
.cards-container {
    // this area will be moved into the ProductHome page
    display:flex;
    height: 50vh;
}

// ------ Card ------
.card {
    min-width: 20vw;
    min-height: 20vh;
    margin: 2em;
    border: 5px solid #F6F1DE;
}

// ------ Product Card ------

.card-image {
    padding: 1em;
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

.card-detail {
    padding: 1em;
}

// ------ Partner Card ------
.partner-card {

}