$blueish: #49708A;

.search-container {
    display: flex;
    justify-content: flex-end;
    padding: 2em;
    
}

.search-container a {
    padding-left: 1em;
    color: $blueish;
}
.search-container a:hover {
    padding-left: 1em;
    color: $blueish;
    font-weight: 600;
}

.content-container {
    padding: 2em;
}