// ------ Variables ------ 
$headingFont: 'Montserrat', sans-serif;
$mainFont: 'Lato', sans-serif;
$chocolate: #605951;
$blueish: #49708A;
$lightYellow:#FBEEC2;

// // ------ Row 1 - Main Header ------ 
// .header-container {
//     border-bottom: 3px solid $chocolate;
//     background-color: whitesmoke;
//     color: $chocolate;
//     display: flex;
//     flex-flow: column;
//     box-shadow: 1px 2px $chocolate;
//     width: inherit;
// }

// .main-header button {
//     line-height: 130%; 
// }
// .menubar-list {
//     display: flex;
//     justify-content: flex-end;
//     padding: 2em;
// }
// .menubar-list li {
//     padding: 0 1.5em;
// }


// // ------ Row 2 - Header Title ------ 
// .page-title {
//     margin: 1em 3em 2em
// }
// .page-title h2 {
//     display: flex;
//     justify-content: center;
//     padding: 0;
//     font-family: $headingFont;
//     font-size: 4em;
//     letter-spacing: -3px;
//     text-transform: uppercase;
// }

// // ------ Row 3 - Action List ------ 
// .action-nav {
//     display: flex;
//     justify-content: flex-end;
//     padding: 0 1em
// }


