
//  ------ Variables & Elements ------
$headingFont: 'Montserrat', sans-serif;
$mainFont: 'Lato', sans-serif;
$chocolate: #605951;
$blueish: #49708A;
$lightYellow:#FBEEC2;

li, a {
    text-decoration: none;
    color: $blueish;
    display: flex;
    padding: 15px;
}
a:hover, li:hover {
    color: $blueish;
    font-weight: 600;
}
//  ------ PAGE Component------
.page-wrapper {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: $mainFont;
    color: $chocolate;
}
.content {
    flex: 1;
}
.main-footer {
    display:flex;
    flex-flow:row;
    text-decoration: none;
    justify-content: center;
    padding: 1em 2em;
    background-color: grey;
}

// ------ LOGIN Component ------
.form-login {
    padding: 30px;
}

form > div {    
    display: flex;
    justify-content: center;
}
form > div > label{
    padding: 0 10px;
}
.form-login > div > label {
    padding: 20px;
}



.department-links {
    padding: 0 4em;
}

.company-links {
    padding: 0 1em;
}

li {
    list-style: none;
}
