
//  ------ Variables & Elements ------
$headingFont: 'Montserrat', sans-serif;
$mainFont: 'Lato', sans-serif;
$chocolate: #605951;
$blueish: #49708A;
$lightYellow:#FBEEC2;

// li, a {
//     text-decoration: none;
//     color: $blueish;
//     display: flex;
//     padding: 15px;
// }
// a:hover, li:hover {
//     color: $blueish;
//     font-weight: 600;
// }
.page-wrapper {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: $mainFont;
    color: $chocolate;
}
//  ------ HEADER Component------
.header {
    display: block;
    background-color: #E6F0F0;
    padding: 3em;
}
//  ------ PAGE Component------
.content { 
    height:100%;
    width: 100%;
    margin: 3em;
    padding: 0 3em 3em;
}
.product-filter-container {
    padding: 0;
}
.login-form {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 5em 15vw;
}
.form-input {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 1em;
}
//  ------ FOOTER Component------
.footer {
    display: block;
    background-color: #5F6363;
    width: 100vw;
}
// .main-footer {
//     display:flex;
//     flex-flow:row;
//     justify-content: center;
//     background-color: lightgray;
//     padding: 1em;
// }
// .footer li {
//     padding: 4px;
// }


