$headingFont: 'Montserrat', sans-serif;
$mainFont: 'Lato', sans-serif;

.page-wrapper {
    margin: 0;
    font-family: $mainFont;
}
// ------ Header ------
.header-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding:10px 1em;
    font-family: $headingFont;
    font-weight: 600;
    font-variant: small-caps;
    line-height: 200%;
    font-size: 20px;
}
.logo-container {
    font-size: 25px;
}
.account-container {
    line-height: 100%; 
}

// ------ Main ------
.page-content {
    background-color: #F6F1DE;
}

// ------ Login ------
.form-login {
    padding: 30px;
}

form > div {    
    display: flex;
    justify-content: center;
}
form > div > label{
    padding: 0 10px;
}
.form-login > div > label {
    padding: 20px;
}
.form-link {
    color: #49708A;
    display: flex;
    padding: 15px;
}
.form-link > a {
    padding: 20px;
}



// ------ Footer ------
.main-footer {
    display:flex;
    flex:row;
    text-decoration: none;
    justify-content: center;
    padding: 1em 2em;
    background-color: grey;
}

.department-links {
    padding: 0 4em;
}

.company-links {
    padding: 0 1em;
}

li {
    list-style: none;
}
